/.ipynb_checkpoints
/.vscode
/11.py
/13_Phython_17_Automachine_step04_노상희.py
/Chp02_PracticeTest.py
/CLASS_1.py
/data
/DataSet
/FunEx01_노상희.ipynb
/git
/gugudan.py
/HW02Pabdas02_11JoConfirmStep01_노상희.ipynb
/HW02Pabdas03_01_ClassEx01_노상희.py
/HW02Pabdas03_03_ClassEx03_노상희.py
/HW02Pabdas03_04_ClassEx04_노상희.py
/HW02Pandas03_02_ClassEx02_노상희.py
/HW02Pandas03_05_ClassEx05_노상희.py
/HW02Pandas03_06_ClassEx06_노상희.py
/HW02Pandas03_07_ClassEx07_노상희.py
/jocoding_list2.py
/KAIST_boolean_prac1.py
/KAIST_input_prac_1.py
/KAIST_print_pra1.py
/mod1.ipynb
/mod1.py
/Pandas01_04_jupyter_Config_노상희.py
/Pandas01_07_FunEx01_노상희.ipynb
/Pandas01_07_FunEx01_노상희.py
/Pandas01_08_FunEx02_노상희.ipynb
/Pandas01_09_FuEx03_노상희.ipynb
/Pandas01_09_FunEx03_노상희.py
/Pandas01_10_FunEx04_노상희.ipynb
/Pandas01_10_FunEx04_노상희.py
/Pandas01_11_FunEX05_노상희.ipynb
/Pandas01_11_FunEX05_노상희.py
/Pandas01_12_StudentMS_Step02Fun_노상희.ipynb
/Pandas01_12_StudentMS_Step02Fun_노상희.py
/Pandas02_01_FunEx06_노상희.ipynb
/Pandas02_01_FunEx06_노상희.py
/Pandas02_03_FunEX08_노상희.ipynb
/Pandas02_04_FunEx09_노상희.ipynb
/Pandas02_04_FunEx09_노상희.py
/Pandas02_05_lambdaEx01_노상희.ipynb
/Pandas02_05_lambdaEx01_노상희.py
/Pandas02_07_FileIOEx01_노상희.py
/Pandas02_07_FilelOEx01_노상희.ipynb
/Pandas02_07_FilelOEx01_노상희.py
/Pandas02_08_FileIOEx02_노상희.ipynb
/Pandas02_09_FileIOEx03_노상희.ipynb
/Pandas02_16_ModuleEx02_노상희.ipynb
/Pandas02_17_ModulEx03_노상희
/Pandas02_18_PandasEx01_노상희.ipynb
/Pandas02_18_PandasEx01_노상희.py
/Pandas02_RandomEx01_노상희.ipynb
/Pandas02_RandomEx01_노상희.py
/Pandas03_09_StuMS_FunMunni_노상희.py
/Pandas03_09_StuMS_FunMunni_노상희_ver2.py
/Pandas03_09_StuMS_FunMunni_정답.py
/Pandas03_09_StuMS_FunMunni_정답.txt
/Pandas03_11_JoConfirm_노상희.py
/Pandas04_01_JoConfirmRecursive_노상희.py
/pandas04_02_pipChk01_노상희.txt
/Pandas04_03_readCsv01_노상희.py
/Pandas04_04_readCsv02_노상희.py
/Pandas04_05_readExcel01_노상희.py
/Pandas04_06_readExcel02_노상희.py
/Pandas04_07_readJSON01_노상희.py
/Pandas04_10_readTSV01_노상희.py
/Pandas04_11_headEx01_노상희.py
/Pandas04_12_shapeEx01_노상희.py
/Pandas04_13_columnsEx01_노상희.ipynb
/Pandas04_13_columnsEx01_노상희.py
/Pandas04_14_dtypesEX01_노상희.ipynb
/Pandas04_15_infoEx01_노상희.ipynb
/Pandas04_15_infoEx01_노상희.py
/Pandas04_16_groupbyEx01_노상희.ipynb
/Pandas04_16_groupbyEx01_노상희.py
/Pandas04_17_headTailEx01_노상희.ipynb
/Pandas04_18_dataLookEx01_노상희.ipynb
/Pandas04_18_dataLookEx01_노상희.py
/Pandas94_09_readHTML01_노상희.py
/Pandas_02_02_FunEx7_노상희.ipynb
/Pandas_02_02_FunEx7_노상희.py
/Pandas_02_06_lambdaEx02_노상희.ipynb
/Pandas_02_06_lambdaEx02_노상희.py
/Phython02_15_AutoMachine_step02_노상희.py
/phython03_07_ForExp00_노상희.py
/Python 연습문제.py
/python.py
/Python02_08_ContinueEx01_노상희.py
/Python02_10_ForEx02_노상희.py
/Python02_11_RangeEx01_노상희.py
/Python02_11_RangeEx02_노상희.py
/Python02_13_IndexEx01_노상희.py
/Python02_14_index02_노상희.py
/Python02_16_AutoMachine_step03_노상희.py
/Python02_20_autoMachine_Step05Finish_노상희.py
/python03_01_ForContinueEx01_노상희.py
/python03_02_AddOddEven_노상희.py
/python03_03_PrintEnd01_노상희.py
/python03_04_GuGuDaneEX02_노상희.py
/python03_06_GuGuDaneEX03_노상희.py
/python03_08_ForExp01_노상희.py
/python03_08_ForExp02_노상희.py
/python03_09_ForExp02_노상희.py
/python03_10_StarEx00_노상희.py
/python03_11_StarEx00_노상희.py
/Python03_15_NumberEX02_노상희.py
/python03_17_FormatEx01_노상희.py
/python03_18_FormatEx02_노상희.py
/Python03_19_GuGuFormatEx02_노상희.py
/Python03_19_GuGuFormatEx03_노상희.py
/Python03_21_Chap03Practice_노상희.py
/Python03_21_LenChk01_노상희.py
/Python03_21_LenChk01_오렌지.py
/Python04_01_PrimeNumber_노상희.py
/python04_02_FormatFun02_노상희.py
/python04_02_FruitList_노상희.py
/python04_03_FormatFun01_노상희.py
/python04_04_FormatFun02_노상희.py
/python04_05_FormatFun03_노상희.py
/python04_06_strFun01_노상희.py
/Python04_07_strFun02_노상희.py
/python04_08_strfun03_노상희.py
/python04_09_strFun04_노상희.py
/Python04_10_strFun05_노상희.py
/Python04_11_strFunEx01QueryString_노상희.py
/Python04_12_StrEx01_노상희.py
/Python04_13_strEx02_노상희.py
/Python05_01_FruitListStep01_노상희.py
/Python05_02_FruitListSample01_노상희.py
/Python05_02_FruitListSample_노상희.py
/Python05_03_CollectionList04_노상희.py
/Python05_03_FruitListSample02_노상희.py
/Python05_05_CollectionList02_노상희.py
/Python05_06_CollectionList03_노상희.py
/Python05_07_CollectionList03_노상희.py
/Python05_08_CollectionList05_노상희.py
/Python05_09_CollecionList06_노상희.py
/Python05_10_CollectionList07_노상희.py
/Python05_11_CollectionList08_노상희.py
/Python05_12_CollectionList09_노상희.py
/Python05_13_EmployeeStep01_노상희.py
/python05_14_MemberStep01_노상희.py
/Python05_15_MemberStep02Ins_노상희.py
/Python05_15_MemberStep02Ins_복습.py
/Python05_DataType001_복습.py
/Python05_DataType024_복습.py
/Python06_01_TupleEx01_노상희.py
/Python06_03_TupleEx03_노상희.py
/Python06_04_DictionaryEx01_노상희.py
/Python06_05_dictionaryEx02_노상희.py
/Python06_06_DictionaryEx03_노상희.py
/Python06_07_DictionaryEx04_노상희.py
/Python06_08_DictionaryEx05_노상희.py
/Python06_09_DictionaryEx06_노상희.py
/Python06_10_DictionartEx07_노상희.py
/Python06_11_StudentMS_Step01_노상희.py
/Python06_12_StudentMS_Step02List_노상희.py
/Python06_13_SetEx01_노상희.py
/Python06_14_SetEx02_노상희.py
/Python06_15_SetEx03_노상희.py
/Python06_16_DataTypeEx0_노상희.py
/Python06_17_DataTypeEx02_노상희.py
/Python06_19_datatypeEx04_노상희.py
/Python06_20_DataTypeEx05_노상희.py
/Python06_21_DataTypeEx06_노상희.py
/Python06_22_DataTypeEx07_노상희.py
/Python06_23_Chap02_노상희.py
/Python12_elif_노상희.py
/Python16_18_DataTypeEx03_노상희.py
/Python_06_02_TupleEx02_노상희.py
/python_practice test1.py
/python_나눠떨어진수.py
/SutuChk01_20210524.txt
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/Untitled3.ipynb
/Untitled4.ipynb
/Untitled5.ipynb
/Untitled6.ipynb
/while 기본.py
/__pycache__
/가위바위보.png
/가위바위보_정답.py
/문자열(소수점)practice test.py
/새파일.txt
/자료형 복습.ipynb
/재귀함수.py
/제목 없음2.py
/제목 없음9.py